* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: transparent linear-gradient(146deg, #313132 0%, #313132 14%, #161618 100%) 0% 0% no-repeat padding-box;
}

/* MENU LATERAL */

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 100px;
    height: 100%;
    background: transparent linear-gradient(146deg, #313132 0%, #313132 14%, #161618 100%) 0% 0% no-repeat padding-box;
}

.wrapper .sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.wrapper .sidebar h2 a{
    font: normal normal normal 41px/54px Segoe UI;
    color: #ACACAC;
    text-transform: capitalize;
}

.sidebar ul {
    margin-top: 470px;
}

.wrapper .sidebar ul li {
    padding: 15px;
}

.wrapper .sidebar ul li a {
    display: block;
    transform: rotate(270deg);
    font: normal normal bold 14px/20px Segoe UI;
    color: #ACACAC;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 200px;
}

/*  TOP NAVBAR  */

.top-navbar {
    padding-left: 40.5%;
    margin-top: 50px;
    position: absolute;
    z-index: 1;
}

.top-navbar ul {
    display: flex;
    padding: 10px;
    list-style: none;
}

.top-navbar li a {
    display: block;
    margin-right: 50px;
    text-decoration: none;
    text-align: left;
    font: normal normal normal 17px/23px Bahnschrift;
    letter-spacing: 0.17px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

.top-navbar li:hover a {
    color: #EFC862;
    font: normal normal normal 17px/23px Bahnschrift;
}

.top-navbar li img {
    width: 16px;
    height: 16px;
}

.target {
    position: absolute;
    margin-top: 30px;
    border-bottom: 2px solid transparent;
    z-index: 1;
    transform: translateX(-60px);
}

.top-navbar a, .target {
    transition: all .10s ease-in-out;
}

/*  CONTEUDO  */

.conteudo {
    display: table;
    
}

.mochila {
    display: table-cell;
    float: right;
    position: relative;
    z-index: -1;
    margin-left: 50px;
    margin-top: 50px;
}

.mochila img {
    width: 612px;
    height: 780px;
}

.colecao {
    display: table-cell;
    float: left;
    width: 200px;
    margin-top: 240px;
}

.colecao ul h2{
    font: normal normal normal 22px/32px Segoe UI;
    letter-spacing: 0.7px;
    color: #FFFFFF;
}

.colecao ul li a{
    font: normal normal normal 13px/32px Segoe UI;
    letter-spacing: 0.13px;
    color: #646464;
    text-transform: capitalize;
    text-decoration: none;
}

.colecao ul li:hover a {
    color: #ffffff;
}

.linha1 {
    width: 250px;
    border: 1px solid #707070;
}

.linha2 {
    width: 150px;
    border: 1px solid #EFC862;
}


/*  EVENTOS  */
