<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    <title>Landing Page</title>
</head>
<body>

    <div class="container">
        <div class="aer1">
            <a class="aer" href="#home">Aer</a>
        </div>

        <header>
            <nav class="top-navbar">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#produtos">Produtos</a></li>
                    <li><a href="#about">Sobre Nós</a></li>
                    <li><a href="#localizacao">Localização</a></li>
                    <li><a href="#carrinho">Carrinho</a></li>
                    <li><img src="/static/img/lupa.png" alt="lupa"></li>
                </ul>
            </nav>
            <span class="target"></span>
        </header>

        <aside>

            <div class="div-menu-lateral">
                <a href="#facebook">Fb</a>
                <a href="#instagram">In</a>
                <a href="#twitter">Tw</a>
            </div>

            <div class="linha3"></div>

        </aside>

        

        <div class="colecao">
            <h2>/ 01</h2>
            <div class="linha1">
                <div class="linha2"></div>
            </div>
            <ul>
                <li><a href="#workcollection">Coleção de Trabalho</a></li>
                <li><a href="#activecollection">Coleção Ativa</a></li>
                <li><a href="#tripcollection">Coleção de Viagem</a></li>
            </ul>
        </div>

        <div class="backpack">
            <img src="/static/img/backpack.png" alt="backpack">
        </div>
        
            
         <!--    
        <div class="eventos">
            <h2>eventos</h2>
        </div> -->


    </div>

    <!-- 



    <nav class="top-navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#produtos">Produtos</a></li>
            <li><a href="#about">Sobre Nós</a></li>
            <li><a href="#localizacao">Localização</a></li>
            <li><a href="#carrinho">Carrinho</a></li>
            <li><img src="/static/img/lupa.png" alt="lupa"></li>
        </ul>
    </nav>

    <nav class="nav-lateral">
        <ul class="aer">
            <li><a href="#home">Aer</a></li>
        </ul>

        <div class="redes-sociais">
            <a href="#twitter">Tw</a>
            <a href="#instagram">In</a>
            <a href="#facebook">Fb</a>
        </div>
    </nav>

    <section class="grid-section conteudo" id="conteudo">
        <div class="colecao">
            <h1>/ 01</h1>
                <ul>
                    <li><a href="#workcollection">Coleção de Trabalho</a></li>
                    <li><a href="#activecollection">Coleção Ativa</a></li>
                    <li><a href="#tripcollection">Coleção de Viagem</a></li>
                </ul>
        </div>
        

        <img src="/static/img/backpack.png" alt="mochila">

        <div class="texto-conteudo">
            <h1 class="titulo-conteudo">Trabalhe De Onde Quiser</h1>
            <p class="paragrafo-conteudo">Apresentamos a coleção de trabalho, uma linha de mochilas minimalistas
            criadas <u>para a nova geração especificamente para os profissionais modernos.</u>
        </p>
        </div>
        
    </section>

    <section class="grid-section eventos" id="eventos">
        <h2>Eventos</h2>

        <div>
            <ul>
                <li>Compareça @instadoevento</li>
                <li>Bragança Paulista - SP 20/08/2021</li>
            </ul>

            <ul>
                <li>Compareça @outroevento</li>
                <li>São Paulo - SP 12/05/2022</li>
            </ul>
        </div>
        
        <p class="pontos">...</p>

    </section>


    -->
    

    

    <script src="/scripts/script.js"></script>
</body>
</html>