<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    <title>Landing Page</title>
</head>
<body>

    <div class="wrapper">

        <div class="sidebar">
            <h2><a href="#index">Aer</a></h2>
            <ul>
                <li><a href="#index">Tw</a></li>
                <li><a href="#index">In</a></li>
                <li><a href="#index">Fb</a></li>
            </ul>
        </div>

        <div class="main_content">
            <div class="top-navbar">
                <ul>
                    <li><a href="#index">Home</a></li>
                    <li><a href="#index">Produtos</a></li>
                    <li><a href="#index">Sobre Nós</a></li>
                    <li><a href="#index">Localização</a></li>
                    <li><a href="#index">Carrinho</a></li>
                    <li><img src="/static/img/lupa.png" alt="lupa"></li>
                </ul>
            </div>
            <span class="target"></span>

            <div class="conteudo">
                                
                <div class="mochila">
                    <img src="/static/img/backpack.png" alt="backpack">
                </div>

                <div class="colecao">
                    <ul>
                        <li class="other-li"><a href="#index"><h2>/ 01</h2></a></li>
                        <li>
                            <div class="linha1">
                                <div class="linha2"></div>
                            </div>
                        </li>
                        <li class="other-li"><a href="#index">Coleção de Trabalho</a></li>
                        <li class="other-li"><a href="#index">Coleção Ativa</a></li>
                        <li class="other-li"><a href="#index">Coleção de Viagem</a></li>
                    </ul>
                </div>

                <div class="texto-conteudo">
                    <h1>Trabalhe<br> De Onde<br> Quiser</h1>
                    <p>Apresentamos a coleção de trabalho, 
                        uma linha de mochilas minimalistas criadas para a nova geração
                         especificamente para os profissionais modernos.</p>
                </div>

            </div>
        </div>

        <div class="eventos">
            
            <h2>EVENTOS</h2>

            <div class="conteudo-evento">
                <ul>
                    <li>Compareça @localdoevento</li>
                    <li class="cidade">Bragança Paulista - SP 20/08/2021</li>
                </ul>
                <ul>
                    <li>Compareça @localoutroevento</li>
                    <li class="cidade">São Paulo - SP 13/05/2022</li>
                </ul>
            </div>
            
        </div>

    </div>



    <!-- 

    <nav class="top-navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#produtos">Produtos</a></li>
            <li><a href="#about">Sobre Nós</a></li>
            <li><a href="#localizacao">Localização</a></li>
            <li><a href="#carrinho">Carrinho</a></li>
            <li><img src="/static/img/lupa.png" alt="lupa"></li>
        </ul>
    </nav>

    <nav class="nav-lateral">
        <ul class="aer">
            <li><a href="#home">Aer</a></li>
        </ul>

        <div class="redes-sociais">
            <a href="#twitter">Tw</a>
            <a href="#instagram">In</a>
            <a href="#facebook">Fb</a>
        </div>
    </nav>

    <section class="grid-section conteudo" id="conteudo">
        <div class="colecao">
            <h1>/ 01</h1>
                <ul>
                    <li><a href="#workcollection">Coleção de Trabalho</a></li>
                    <li><a href="#activecollection">Coleção Ativa</a></li>
                    <li><a href="#tripcollection">Coleção de Viagem</a></li>
                </ul>
        </div>
        

        <img src="/static/img/backpack.png" alt="mochila">

        <div class="texto-conteudo">
            <h1 class="titulo-conteudo">Trabalhe De Onde Quiser</h1>
            <p class="paragrafo-conteudo">Apresentamos a coleção de trabalho, uma linha de mochilas minimalistas
            criadas <u>para a nova geração especificamente para os profissionais modernos.</u>
        </p>
        </div>
        
    </section>

    <section class="grid-section eventos" id="eventos">
        <h2>Eventos</h2>

        <div>
            <ul>
                <li>Compareça @instadoevento</li>
                <li>Bragança Paulista - SP 20/08/2021</li>
            </ul>

            <ul>
                <li>Compareça @outroevento</li>
                <li>São Paulo - SP 12/05/2022</li>
            </ul>
        </div>
        
        <p class="pontos">...</p>

    </section>


    -->
    

    

    <script src="/scripts/script.js"></script>
</body>
</html>